@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
}
:root{
    --pas:'Pacifico' , cursive ; 
    --mon:'Montserrat', sans-serif;
    --way:'Raleway', sans-serif;
}
.container{
    max-width: 1180px;
    margin: auto;
}

hr{
height: 10px;
background-color: #2ecc71;
border: none;
;
}
header{
    background-image: url(../img/img.png);
}
/*first css start*/
.head{
    display: flex;
    flex-direction: column;
    margin-left: 126px;
    background-image: url(../img/hand\ \(2\).png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 100px;
}

.head img{
    width: 180px;
    height: 80px;
}
 p{
     display: flex;
     font: 500 24px var(--mon);
    width: 469px;
    line-height: 36px;
    color: #ffffff;
    margin-bottom: 35px;
    margin-top: 35px;
}
.icon {
    padding-bottom: 180px;

}
.icon div{

display: flex;
}
.icon a{
    width: 52px;
height: 52px;
border-radius: 50%;
background-color: #55432f;
position:relative;
text-align: center;
display: inline-block;
margin-right: 15px;
opacity: .5;

}
.icon i{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    position: absolute;
    text-align: center;
    display: inline-block;
    
}

.move {
    background-color: #2ecc71 !important;
    opacity: 1 !important;
}
.icon a:hover{
    background-color: #2ecc71 !important;
    opacity: 1;
}



/*second css start*/

.gear i{
   
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

.gear a{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 98px;
height: 98px;
border-radius: 50%;
background-color: #2ecc71;
text-align: center;
display: inline-block;
margin-left: 120px;
margin-top: 60px;
text-decoration: none;
}
.gear p{
    font: 16px var(--mon);
    width: 326px;
line-height: 26px;
color: #848484;
text-align: center;
padding-bottom: 50px;
}
.gear h3{
    font: 600 22px var(--way);
line-height: 18px;
color: #222222;
margin-top: 30px;
text-align: center;

}
.icons {
    display: flex;
    justify-content: space-between;
    
}

/*third css start*/

.third{
    background-color: #e3e3e3;
  
}

.email{
    display: flex;
    flex-direction: column;
    background-image: url(../img/video.png);
    background-repeat: no-repeat;
    background-position: right;
}

.email h3{
    font: 600 22px var(--way);
    padding-top: 60px;
    line-height: 18px;
    color: #222222;
}
.email p{
    font: 16px var(--mon);
    width: 541px;
    line-height: 26px;
    color: #848484;
    margin: 30px 0;
    margin-bottom: 30px;
}

.adres form{
    display: flex;
}
form input{
    width: 446px;
    height: 56px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 15px 0 0 15px;
}
form button{
    font: 700 22px var(--way);
    width: 141px;
    height: 56px;
    background-color: #2ecc71;
    line-height: 18px;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 0  15px 15px 0;
    margin-bottom: 120px;
}

/*footer css start*/

footer .foot p{
    font: italic 18px var(--mon);
    width: 887px;
height: 103px;
line-height: 30px;
color: #848484;
padding-top: 60px;
margin: auto;
}
.foot{
    text-align: center;
}
.foot img{
    width: 50px;
    height: 50px;
}
.foot h3{
    font: 700 18px var(--way);
line-height: 20px;
color: #2e2e2e;
text-align: center;
margin-bottom: 20px;
}
.foot h2{
    font: 600 24px var(--way);
line-height: 24px;
color: #000000;
text-align: center;
margin-top: 60px;
}
.foot h4{
    font: 16px var(--mon);
line-height: 26px;
color: #848484;
margin-top: 10px;
}

.foot .icon2 a{
    width: 34px;
height: 34px;
border-radius: 50%;
background-color: #c5c5c5;
position: relative;
display: inline-block;
opacity: .5;
margin-top: 30px;
margin-bottom: 60px;
}

.foot .icon2 i{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 10px;
    
}
.icon2 a:hover{
    background-color: #2ecc71;
    opacity: 1;
}
.active{
    background-color: #2ecc71 !important;
    opacity: 1 !important;
}
/*last css start*/
.last{
    background-color: #e3e3e3;
}
.end ul li{
    display: inline;
  
    
}
.end{
    text-align: center;
    padding: 60px 0;
}
.end a{
    font: 16px var(--mon);
line-height: 26px;
color: #848484;
margin-right: 20px;
text-decoration: none;

}
/* responsive start*/
@media only screen and (max-width:768px){
    .container{
        max-width: 300px;
    }
    header{
        background-image: url(../img/img.png);
    }
    .head{
        display: flex;
        flex-direction: column;
        margin: auto;
        background-image: none;
    }
    .head img{
        width: 160px;
        height: 70px;
    }
    p {
        width: 274px;
       }

    .icons {
        flex-direction: column;
        margin-top: auto;
        
    }
  .email{
        display: flex;
        flex-direction: column;
        background-image: none;
  }
    .email p{
        width: 320px;
        margin-bottom: 50px;
    }
    footer .foot p{
        width: 319px;
 
    }
    .foot h3 {
        margin-bottom: 100px;
        margin-top: 120px;
    }
}
